<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.elvis.android.insert_monitor">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".aidl.InsertMonitorService"
            android:process=":insert_monitor">
            <intent-filter>
                <action android:name="com.elvis.android.InsertMonitorService" />
            </intent-filter>
        </service>

    </application>

</manifest>
